.title {
    display: block;
    text-align: center;

    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.7rem;

    color: #000000;
}

.title_about-product {
    margin: 7rem 0 4rem 0;
    text-align: center;

    font-weight: 600;
}

@media (max-width: 767px) {
    .title_about-product {
        font-size: 2.4rem;
        line-height: 3.3rem;
    }
}

.title_device-color {
    margin: 7rem 0 7rem 0;

    font-weight: 600;
}

@media (max-width: 1024px) {
    .title_device-color {

        font-weight: 400;
    }
}

.title_more-info {
    margin-bottom: 3rem;

    font-weight: 600;
}

@media (max-width: 1024px) {
    .title_more-info {
        margin-bottom: 2rem;
    }
}

.title_form {
    width: 60%;
    font-weight: 600;
    text-align: left;
}

@media (max-width: 1024px) {
    .title_form {
        margin-bottom: 3rem;

        width: 100%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .title_form {
        width: 100%;

        font-size: 2.2rem;
        line-height: 3.5rem;
        text-align: center;
    }
}

