div {
    opacity: 0.9;
    box-shadow: 7px 7px 3px #495b6c;
    margin-top: 70px;
    padding: 15px;
    background: #6d7d80;
    border-radius: 30px;
}

nav {
    position: fixed;
}

li {
    list-style-type: "🇷🇺";
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li:hover {
    transition: 0.3s;
    list-style-type: "🏴‍☠️";
}

img {
    box-shadow: 7px 7px 3px #495b6c;
    border-radius: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link {
    box-shadow: 7px 7px 3px #495b6c;
    color: black;
    padding: 3px;
    background: darkgrey;
    border-radius: 10px;
    text-decoration: none;
}

.link:hover {
    transition: .3s;
    background: gray;
}

.boy {
    color: black;
    background: black;
    text-decoration: none;
}

.boy:hover {
    transition: 1s;
    background: gray;
}

.main {
    width: 800px;
    margin: 0 auto;
}

body {
    background: url("https://i.pinimg.com/originals/e2/24/31/e22431dc56b33a2797cf15d96c3b7c34.png");
}

header {
    box-shadow: 7px 7px 3px #495b6c;
    text-align: center;
    background: darkgrey;
    padding: 10px;
    border-radius: 30px;
}

h2{
    text-align: center;
}

.MarkTable {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

.MarkTable thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #62778c;
    font-size: 14px;
}

.MarkTable thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.MarkTable thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.MarkTable tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.MarkTable tbody tr:nth-child(even) {
    background: slategray;
}

.MarkTable tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.MarkTable tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.MarkTable tr:nth-child(even):hover{
    background: #4190e0;
}

.MarkTable tr:nth-child(odd):hover{
    background: #23578c;
}