.nav-bar {
    z-index: 1;
    position: fixed;
}

.nav-bar__list li {
    list-style-type: "😺";
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.nav-bar__list li:hover {
    transition: 0.3s;
    list-style-type: "😻";
}
