.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    border-radius: 1.4rem;
    background-color: #121921;
}

.info_sides {
    margin: 7.1rem 4rem 0 4rem;
}

.info__img {
    display: block;

    max-width: 100%;
    height: auto;
}

.info__text {
    padding: 7rem 0 0 7rem;
    display: flex;
    flex-direction: column;
}

.info__title {
    width: 70%;

    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 31px;
    color: #FFFFFF;
}

.info__description {
    width: 85%;

    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.info__description_up {
    margin-top: 2rem;
}