.info__text {
    width: 55%;
    padding: 7rem 0 0 7rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .info__text {
        padding: 3rem 0 0 3rem;
    }
}

@media (max-width: 767px) {
    .info__text {
        padding: 3rem 2rem 2rem 3rem;

        width: 100%;
    }
}

.info__title {
    width: 70%;

    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 3.1rem;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .info__title {
        font-size: 1.8rem;
        line-height: 2.51rem;
    }
}

@media (max-width: 767px) {
    .info__title {
        width: 100%;
    }
}

.info__description {
    width: 85%;

    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #FFFFFF;
}

.info__description_hidden {

}

@media (max-width: 1024px) {
    .info__description {
        width: 90%;
    }

    .info__description_hidden {
        display: none;
    }
}

@media (max-width: 767px) {
    .info__description {
        width: 100%;
        font-size: 1.2rem;
    }
}

.info__description_up {
    margin-top: 2rem;
}