.post-container {
    display: flex;
    flex-direction: column;
    z-index: 0;

    margin-top: 70px;
    padding: 20px;

    background: #6d7d80;
    opacity: 0.9;
    border-radius: 30px;
    box-shadow: 7px 7px 3px #495b6c;
}

.post-container_header {
    background: #af784a;
    text-align: center;
}

.post-container__image {
    box-shadow: 7px 7px 3px #495b6c;

    border-radius: 30px;
    width: 60%;
}

.post-container_error {
    padding: 30px;
    text-align: center;

    font-weight: bold;
    font-size: 40px;
}

.post-container_serial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.post-container__description {
    display: flex;
    text-align: center;
    font-weight: bolder;
}



