.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 15px;
    background: rgba(103, 11, 105, 0.9);
}

.header_alternative {
    background: rgba(204, 66, 186, 0.93);
}