.about-product {
    display: flex;
    flex-direction: column;
}

.about-product__benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 11.9rem;

    margin: 0 17.1rem;
}

@media (max-width: 1024px) {
    .about-product__benefits {
        flex-wrap: wrap;
        justify-content: flex-start;

        margin: 0 11.1rem;

        gap: 2.7rem;
    }
}

@media (max-width: 767px) {
    .about-product__benefits {
        margin: 0 2.5rem;
        text-align: center;
    }
}

.about-product__benefit {
    flex-direction: column;

    width: 100%;
}

@media (max-width: 1024px) {
    .about-product__benefit {
        width: 45%;
    }
}

@media (max-width: 767px) {
    .about-product__benefit{
        width: 100%;
    }
}

.about-product__circle-container {
    display: flex;
    justify-content: flex-start;

    width: 100%;
}

@media (max-width: 767px) {
    .about-product__circle-container {
        justify-content: center;
    }
}

.about-product__circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.483rem;

    width: 4.8rem;
    height: 4.8rem;

    border-radius: 50%;
    background-color: #034093;
}

.about-product__circle-icon_alternative {
    background-color: white;
}

.about-product__title {
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.5rem;
    color: #000000;
}

.about-product__text {
    margin-top: 1.2rem;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: black;
}


.about-product_tittle {
    display: block;
    text-align: center;

    margin: 7rem 0 4rem 0;
    padding: 0 13%;

    font-size: 4.2rem;
    line-height: 5.7rem;
    color: #000000;
    font-weight: 600;
}

@media (max-width: 767px) {
    .about-product_tittle {
        font-size: 2.4rem;
        line-height: 3.3rem;
    }
}