.technical-info {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .technical-info {
        display: none;
    }
}

.technical-info_text {
    margin: 0 9rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

@media (max-width: 1024px) {
    .technical-info_text {
        margin: 0 4rem;
    }
}


.technical-info__title {
    display: block;
    text-align: center;

    margin-bottom: 3rem;

    font-size: 4.2rem;
    line-height: 5.7rem;
    color: #000000;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .technical-info__title {
        margin-bottom: 2rem;
    }
}
