.technical-info {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .technical-info {
        display: none;
    }
}

.technical-info_text {
    margin: 0 9rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

@media (max-width: 1024px) {
    .technical-info_text {
        margin: 0 4rem;
    }
}