.welcome-block {
    position: relative;

    height: 64rem;

    background: #121921;
}

@media (max-width: 1024px) {
    .welcome-block {
        height: 35rem;
    }
}

@media (max-width: 767px) {
    .welcome-block {
        display: flex;
        text-align: center;
        flex-direction: column;

        position: relative;

        height: 22.3rem;
    }
}

.welcome-block__img {
    position: absolute;

    z-index: 0;

    display: block;

    max-width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .welcome-block__img {
        width: 37.6rem;
        height: 35rem;
    }
}

@media (max-width:  767px) {
    .welcome-block__img {
        display: none;
        align-items: flex-start;
    }
}

.welcome-block__img_sides {
    top: 0;
    right: 0;
}

