.welcome-block {
    position: relative;

    height: 64rem;

    background: #121921;
}

@media (max-width: 1024px) {
    .welcome-block {
        height: 35rem;
    }
}

@media (max-width: 767px) {
    .welcome-block {
        display: flex;
        text-align: center;
        flex-direction: column;

        position: relative;

        height: 22.3rem;
    }
}

.welcome-block__img {
    position: absolute;

    z-index: 0;

    display: block;

    max-width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .welcome-block__img {
        width: 37.6rem;
        height: 35rem;
    }
}

@media (max-width:  767px) {
    .welcome-block__img {
        display: none;
        align-items: flex-start;
    }
}

.welcome-block__img_sides {
    top: 0;
    right: 0;
}


.welcome-block__title {
    position: absolute;
    z-index: 1;

    margin-top: 25.6rem;
    margin-left: 8rem;

    height: auto;
    max-width: 58%;
    min-width: 40%;

    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 6.4rem;

    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .welcome-block__title {
        margin-top: 12.7rem;
        margin-left: 4.2rem;

        max-width: 55%;

        font-size: 3.2rem;
        line-height: 5.1rem;
    }
}

@media (max-width: 767px) {
    .welcome-block__title {
        margin: 3.2rem 4.5rem;

        position: relative;

        max-width: 100%;

        font-size: 2.6rem;
        line-height: 3.5rem;
    }
}
