.mark-table {
    display: flex;
    flex-direction: column;
}

.mark-table__header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 5px;

    font-weight: bold;
}

.mark-table__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 5px;
}

.mark-table__row_even {
    border-radius: 30px;
    background: #495b6c;
}

.mark-table__field {
    flex: 1;
}
