.button {
    display: inline-block;

    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    color: white;
    text-decoration: none;

    background-color: #034093;
}

.button:hover {
    transition: 0.3s;
    background-color: #055bd0;
}

.button:active {
    transition: 0.3s;
    background-color: #055bd0;
    outline: none;
}

.button_primary {
    border-radius: 2.8rem;
    margin-top: 1.2rem;
    padding: 1rem 5.2rem;
    width: 10.2rem;
}

.button_more {
    padding: 0.9rem 4rem;

    width: 12.4rem;

    border-radius: 2.8rem;
}

.button_secondary {
    padding: 0.9rem 4rem;

    width: 16rem;

    border-radius: 2.8rem;
}

.button_big {
    position: absolute;

    right: 0;

    width: 16.9rem;
    height: 7.1rem;

    background: #034093;
    border-radius: 52px;
    outline: none;
    border: none;
}

@media (max-width: 767px) {
    .button_big {
        width: 14.7rem;
        height: 5.8rem;
    }
}
