.navigation {
}

@media (max-width: 767px) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1.2rem 1.6rem;

        width: 100%;

        background: white;
    }
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5.2rem;
}

@media (max-width: 1024px) {
    .navigation__list {
        gap: 2rem;
    }
}

@media (max-width:  767px) {
    .navigation__list {
        display: none;
    }
}

