.navigation {
}

@media (max-width: 767px) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1.2rem 1.6rem;

        width: 100%;

        background: white;
    }
}

.navigation__marker {

}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5.2rem;
}

@media (max-width: 1024px) {
    .navigation__list {
        gap: 2rem;
    }
}

@media (max-width:  767px) {
    .navigation__list {
        display: none;
    }
}

.navigation__link {
    align-items: flex-end;

    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-decoration: none;
    color: white;
}

.navigation__link:hover {
    transition: .3s;
    color: #055bd0;
}

.navigation__menu {
    display: none;
}

@media (max-width: 767px) {
    .navigation__menu {
        display: inline-block;
    }
}

.navigation__svg {
}

@media (max-width: 767px) {
    .navigation__svg {
        fill: #034093;
    }
}

