.button {
    display: block;
    text-align: center;

    padding: 5px;

    color: black;
    text-decoration: none;

    box-shadow: 7px 7px 3px #495b6c;
    background: darkgrey;
    border-radius: 10px;
}

.button_alternative {
    color: white;
    box-shadow: 7px 7px 3px #7994ad;
    background: #1e1919;
}

.button_rating {
    background: #a46c6c;
}

.button:hover {
    transition: .3s;
    background: gray;
}
