.header {
    display: flex;
    align-items: center;
    gap: 5.2rem;

    position: absolute;
    z-index: 1;

    font-size: 1.4rem;
}

@media (max-width: 1024px) {
    .header {
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    .header {
        gap: 0;
        position: relative;
    }
}

.header__link {
    align-items: flex-end;

    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-decoration: none;
    color: white;
}

.header__link:hover {
    transition: .3s;
    color: #055bd0;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5.2rem;
}

@media (max-width: 1024px) {
    .header__nav-list {
        gap: 2rem;
    }
}

@media (max-width:  767px) {
    .header__nav-list {
        display: none;
    }
}

.header_sides {
    margin-left: 8.5rem;
    margin-top: 5rem;
}

@media (max-width: 1024px) {
    .header_sides {
        margin-left: 4.2rem;
        margin-top: 3rem;
    }
}

@media (max-width: 767px) {
    .header_sides {
        margin-left: 0;
        margin-top: 0;
    }
}

.header__menu {
    display: none;
}

@media (max-width: 767px) {
    .header__menu {
        display: inline-block;
    }
}

.header__nav-container {
}

@media (max-width: 767px) {
    .header__nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1.2rem 1.6rem;

        width: 100%;

        background: white;
    }
}

.header__svg {
}

@media (max-width: 767px) {
    .header__svg {
        fill: #034093;
    }
}