.form {
    display: flex;
    align-content: flex-end;

    position: relative;

    width: fit-content;
}

.form__input {
    width: 48.5rem;
    height: 6.5rem;

    border: 2px solid #232323;
    border-radius: 48px;
}
