.middle-footer {
    display: flex;
    flex-direction: column;

    margin-top: 5.2rem;
    padding: 0 8rem 12.3rem 9rem;
}

@media (max-width: 1024px) {
    .middle-footer {
        padding: 0 4rem 4rem 3rem;
        margin-top: 2rem;
    }
}

@media (max-width: 767px) {
    .middle-footer {
        padding: 0 1rem;
        margin-top: 3rem;
    }
}

.middle-footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .middle-footer__header {
        flex-direction: column;
        justify-content: center;
        gap: 3.6rem 0;

        margin-bottom: 8rem;
    }
}


.middle-footer__hr {
    margin-top: 5rem;

    width: 100%;

    border-top: solid 0.05rem #ECECEC;
}

@media (max-width: 767px) {
    .middle-footer__hr {
        display: none;
    }
}

@media (max-width: 1024px) {
    .middle-footer__hr {
        margin-top: 2rem;
    }
}

.middle-footer__item {
    margin-top: 1.4rem;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    text-decoration: none;
    color: #232323;
    opacity: 0.8;
}

.middle-footer__item:hover {
    transition: .3s;
    color: #1d1de3;
}

.middle-footer__item_main {
    font-weight: 600;
    font-size: 1.6rem;

    opacity: 1;
}

.middle-footer__item_first {
    margin-top: 1.8rem;
}

.middle-footer__info {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .middle-footer__info {
        flex-wrap: wrap;
        justify-content: flex-start;

        gap: 1rem 10rem ;
    }
}

@media (max-width: 767px) {
    .middle-footer__info {
        gap: 1rem 3rem ;
    }
}

.middle-footer__info_section {
    flex-direction: column;

    width: 22%;
    height: fit-content;
}

@media (max-width: 767px) {
    .middle-footer__info_section {
        width: 45%;
    }
}

.middle-footer__list {
    list-style-type:none;
}
