.middle-footer__info {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .middle-footer__info {
        flex-wrap: wrap;
        justify-content: flex-start;

        gap: 1rem 10rem ;
    }
}

@media (max-width: 767px) {
    .middle-footer__info {
        gap: 1rem 3rem ;
    }
}

.middle-footer__info_section {
    flex-direction: column;

    width: 22%;
    height: fit-content;
}

@media (max-width: 767px) {
    .middle-footer__info_section {
        width: 45%;
    }

}

.middle-footer__info_up {
    margin-top: 5.2rem;
}
